@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");
/* 전체 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yesteryear", cursive;
}
/* 전체 div 설정 */
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
/* content를 담는 div 설정 */
.container .box {
  /* 위치를 절대값으로 만들어 컨텐츠가 다른 컨텐츠를 덮을 수 있게 한다. */
  position: absolute;
  width: 100%;
  height: 100vh;
  /* div 박스위에 마우스를 올리면 클릭 하는 모션을 만들어 클릭을 유도한다. */
  cursor: pointer;
  /* box안의 content들이 flex로 정렬되게 한다.  */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 변화될때의 변화 속도 설정 */
  transition: all 1s;
}
/* 첫번째 div속성을 설정한다 */
.container .box.box1 {
  /* 구분하기 쉽게 배경색을 주었다.  */
  background: #f00;
  /* 첫번째 상태 일때의 박스 크기 설정 */
  clip-path: polygon(0 0, 33% 0, 33% 100%, 0% 100%);
}
/* 두번째 div속성을 설정한다 */
.container .box.box2 {
  /* 구분하기 쉽게 배경색을 주었다.  */
  background: #0f0;
  /* 첫번째 상태 일때의 박스 크기 설정 */
  clip-path: polygon(33% 0, 67% 0, 67% 100%, 33% 100%);
}
/* 세번째 div속성을 설정한다 */
.container .box.box3 {
  /* 구분하기 쉽게 배경색을 주었다.  */
  background: #00f;
  /* 첫번째 상태 일때의 박스 크기 설정 */
  clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 100%);
}
/* box속성에 active가 붙으면 다음과 같이 설정한다. */
.container .box.active {
  /* box의 크기를 화면을 가득 채운다 */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  /* 화면이 변하는 속도  */
  transition: all 1s;
}
.container .box:hover {
  /* 변화되는 박스가 가장 위에 오도록 설정한다.  */
  z-index: 200;
}
/* .container .box.active.box1 ~ .box2,
.container .box.active.box1 ~ .box3 {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  transition-delay: 1.5s;
  z-index: -1;
}
.container .box.active.box2 ~ .box1,
.container .box.active.box2 ~ .box3 {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  transition-delay: 1.5s;
  z-index: -1;
}
.container .box.active.box3 ~ .box1,
.container .box.active.box3 ~ .box2 {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  transition-delay: 1.5s;
  z-index: -1;
} */

/* content 설정 */
.container .content {
  /* 글자가 의 속성 */
  padding: 20px;
  margin: 20px;
  /* 글자가 아래 위치하여 안보이게 한다. */
  z-index: 10;
  /* 평소에는 크기를 없앤다. */
  opacity: 0;
  /* 글자의 트랜시션 속도 조절 */
  transition: all 1s;
}
.container .box.active .content {
  /* active가 붙으면 글자가 보이도록 한다 */
  opacity: 1;
  transition-delay: 0.5s;
  transition: all 1s;
}
/* 글자 속성 조절 */
.container .content h2 {
  /* 글자색 조절 */
  color: #fff;
  /* 글자의 크기는 뷰포트와이드에 비례한다. */
  font-size: 12vw;
  /* 글자 두께는 기본 속성을 따른다. */
  font-weight: initial;
  /* 글자가 가장 위에 위치하여 보일 수 있도록 한다. */
  z-index: 1000;
}
/* 비디오의 설정 */
.container .box video {
  /* div box에 있는 video는 위치를 절대값으로 하여 div 위에 속한다. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 해당 box에서 cover로 차지하여 변화에도 적용된다. */
  object-fit: cover;
}
